streamlit
langchain
langchain-community
langchain-core
langchainhub
faiss-cpu
pypdf
sentence-transformers
huggingface_hub
transformers
torch
python-dotenv
pyarrow
streamlit-mic-recorder
speechrecognition
pydub
